body {
    background-color: aliceblue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h1{
    color:#182769;
    text-align:center;
    font-style:italic;
    font-size:50px;
    padding-bottom:20px;
}
.container {
    text-align:center;
    display: flex;
    align-items:center:
    gap: 40px;
}

.box {
    background-color:rgb(144, 144, 158);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding:10px;
    text-align:center;
    align-items:center;
    width:200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.box img {
    max-width:60%;
    height:auto;
    border-radius: 1px;
    margin-bottom:15px;
}

.box h2 {
    font-style:italic;
    font-size:40px;
    margin: 10px 0;
}

.box button {
    background-color: #182769;
    color: white;
    border: none;
    width:100%;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 1em;
    font-style: italic;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.box button:hover {
    background-color: #0056b3;
}
